h1 {
    color: White;
    padding: 20px;
    background: #2f3135;
}

h2 {
    color: White;
    padding: 20px;
    background: #2f3135;
}

p {
    color: White;
    padding: 20px;
    background: #2f3135;
}